@value checkboxSize: 16px;


.CheckboxOuterContainer {
    display: inline-block;
    overflow: hidden;

    width: checkboxSize;
    height: checkboxSize;

    border: 2px solid #cccccc;
    border-radius: 20px;

    cursor: pointer;
    user-select: none;

    transition: color, background-color .4s ease;
}
.Active.CheckboxOuterContainer {
    border: 2px solid dodgerblue;
    /*background-color: dodgerblue;*/
}

.CheckboxInnerContainer {
    width: calc(100% - 2 * 2px);
    height: calc(100% - 2 * 2px);

    margin: 2px;
    box-sizing: border-box;
    border-radius: 20px;

    transition: color, background-color .4s ease;
}
.Active .CheckboxInnerContainer {
    background-color: dodgerblue;
}