@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  font-family: "Open Sans", sans-serif;
}

h2 {
  margin-top: 48px;
  margin-bottom: 4px;

  &:nth-child(1) {
    margin-top: 8px;
  }
}