@value checkboxSize: 16px;


.CheckboxOuterContainer {
    display: inline-block;
    overflow: hidden;

    width: checkboxSize;
    height: checkboxSize;

    border: 2px solid #cccccc;
    border-radius: 6px;

    cursor: pointer;
    user-select: none;

    transition: color, background-color .4s ease;
}
.Active.CheckboxOuterContainer {
    border: 2px solid dodgerblue;
    background-color: dodgerblue;
}

.CheckboxInnerContainer {
    width: 100%;
    height: 100%;
}
.Active .CheckboxInnerContainer {
    /*background-color: dodgerblue;*/
}

.CheckboxSvg {
    box-sizing: border-box;

    padding: 3px;
    width: 100%;
    height: 100%;

    opacity: 0;
    filter: invert(1);

    transition: opacity .2s ease;
}
.Active .CheckboxSvg {
    opacity: 1;
}