@import 'form-mixins';


.button {
  @include input-spacing;
  @include input-border;
  @include input-font;
  @include clickable;

  appearance: none;
  background-color: #1e90ff;

  position: relative;
  overflow: hidden;


  &__container {
    color: #ffffff;
    position: relative;
    pointer-events: none;
  }

  &::before {
    --button-spotlight-size: 0;

    content: "";

    position: absolute;
    left: var(--button-spotlight-x);
    top: var(--button-spotlight-y);
    width: var(--button-spotlight-size);
    height: var(--button-spotlight-size);

    opacity: .2;
    background: radial-gradient(circle closest-side, #111111, transparent);

    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
  }

  &:hover::before {
    --button-spotlight-size: 400px;
  }
}



$button-icon-shrink: 4px;
$button-icon-gap: 12px;

.button .icon {
  display: inline-block;
  position: relative;

  vertical-align: middle;
  line-height: 16px;

  top: -2px;


  &--invert {
    filter: invert(1);
  }

  &:first-child {
    padding-right: $button-icon-gap;
  }

  &:last-child {
    padding-left: $button-icon-gap;
  }

  &:first-child:last-child {
    padding: 0;
    margin-left: -12px;
    margin-right: -12px;
  }

  $button-icon-sizes:
    "small" 16px,
    "medium" 20px,
    "large" 24px;

  @each $size, $icon-size in $button-icon-sizes {
    &--#{$size} {
      max-height: $icon-size;
      font-size: $icon-size;
      line-height: $icon-size;

      $icon-diff: 16px - $icon-size;
      margin-bottom: $icon-diff;
      margin-top: $icon-diff;
    }
  }
}